<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal"
        package="com.rust.webvr">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="rust-webvr" android:icon="@mipmap/servo">
        <activity android:name=".MainActivity"
                android:launchMode="singleTop"
                android:label="rust-webvr"
                android:screenOrientation="landscape"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:enableVrMode="@string/gvr_vr_mode_component"
                android:resizeableActivity="false">
            <meta-data android:name="android.app.lib_name" android:value="webvr" />
            <!-- Intent filter that enables this app to be launched from the
     Daydream Home menu. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.google.intent.category.DAYDREAM"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
<!-- END_INCLUDE(manifest) -->
